h1 {
    text-align: center;
    font-size: 60px;
    margin: auto;
    width: 50%;
    border: 3px solid rgb(15, 15, 15);
    padding: 10px;

}

.img-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    width: 600px;
}

.p-2 {
    font-size: 35px;
}

